name: pull_request
on: pull_request
jobs:
  test:
    timeout-minutes: 30
    permissions: {}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: '20.19.6'
      - run: npm i
      - run: npx jest
